/**********************************
GENERAL
***********************************/

body {
  font-family: 'myriad-pro', sans-serif;
}

main {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  overflow: auto;
}

a {
  text-decoration: none;
}

/**********************************
HEADING
***********************************/

header {
  float: left;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

#header_wrap {
  max-width: 940px;
}

/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 8px;
}

/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  overflow: auto;
  padding-top: 10px;
  margin-top: 20px;
}

/**********************************
Page: About
***********************************/

#boy-img, #baby-img {
  margin: 2% auto 2% auto;
  display: block;
  border-radius: 25px;
  height: 200px;
}

#butterfly {
  display: block;
  margin: 0 auto;
  height: 25px;
}

#child-first {
  text-align: center;
}