/**********************************
GENERAL
***********************************/

body {
  font-family: 'myriad-pro', sans-serif;
  height: 100%;
}

main {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  overflow: auto;
  padding-bottom: 20%;

  @media screen and (max-width: 1060px) {
    padding-bottom: 30%;
  }

  @media screen and (max-width: 800px) {
    padding-bottom: 25%;
  }

  @media screen and (max-width: 450px) {
    padding-bottom: 50%;
  }

  @media screen and (max-width: 350px) {
    padding-bottom: 55%;
  }
}

a {
  text-decoration: none;
}

#body-wrap {
  min-height: 100%;
  position: relative;
  overflow: auto;
}

/**********************************
HEADING
***********************************/

header {
  float: left;
  padding: 5px 0 0 0;
  width: 100%;
  margin-bottom: 0;
}

#logo {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

#header_wrap {
  max-width: 940px;
}

/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 8px;
}

/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  overflow: auto;
  padding-top: 5px;
  margin-top: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;

  @media screen and (max-width: 450px) {
    height: 150px;
  }
}

/**********************************
Page: About
***********************************/

#boy-img {
  margin: 2% auto;
  display: block;
  border-radius: 25px;
  height: 200px;
}

#butterfly {
  display: block;
  margin: 0 auto;
  height: 25px;
}

#child-first {
  text-align: center;
}

/**********************************
Page: FAQs
***********************************/

#boy-therapy {
  border-radius: 25px;
  height: 265px;
  width: 400px;
  display: block;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    height: 172px;
    width: 300px;
  }
}

/**********************************
Page: Services
***********************************/

#girl-img {
  border-radius: 25px;
  height: 400px;
  width: 265px;
  display: block;
  margin: 0 auto;
}