@media screen and (min-width: 660px) {

  /**********************************
  HEADER
  ***********************************/
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
  }
  
  #logo {
    float: left;
  }

  header {
    border-bottom: 5px solid darken($blue, 10%);
    margin-bottom: 60px;
  }

  #header-wrap {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    overflow: auto;
  }
}

@media screen and (max-width: 960px) {

  /**********************************
  HEADER
  ***********************************/

  #header-wrap {
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media screen and (max-width: 370px) {

  /**********************************
  HEADER
  ***********************************/

  nav ul li:nth-child(4) {
    margin-left: 0;
    margin-right: 4%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 660px) {
  #header-wrap {
    margin-left: 0;
    margin-right: 0;
  }

}