#maps-frame {
	float: right;
	padding-top: 20px;
	padding-bottom: 20px;

	@media screen and (max-width: 800px) {
		display: none;
		padding-bottom: 0;
		padding-top: 0;
	}
}

ul#locations {
	float: left;
	padding-top: 10%;

	@media screen and (max-width: 800px) {
		padding-top: 0;
	}
}

#enrollment-banner {
  background-color: $purple;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  clear: both;
  
  a:hover {
    color: darken($green, 5%);
  }
  
  h1 {
    color: $green;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}