#cover-boy {
	float: right;
  border-radius: 25px;
  height: 265px;
  width: 400px;

  @media screen and (max-width: 628px) {
    float: none;
    display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 450px) {
    height: 172px;
    width: 300px;
  }
}

ul#locations {
	float: left;
	padding-right: 30px;
}

#enrollment-banner {
  background-color: $purple;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  clear: both;
  
  a:hover {
    color: darken($green, 5%);
  }
  
  h1 {
    color: $green;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

#main-float-wrap {
  overflow: auto;
}

#services-p {
  text-align: center;
}